
.boujee-text {
    --bg-size: 400%;
    --color-one: rgb(110, 157, 251);
    --color-two: rgb(255, 161, 219);
    font-weight: bold;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .boujee-text {
      animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }


  .boujee-text1 {
    --bg-size: 400%;
    --color-one: rgb(247, 247, 211);
    --color-two: rgb(233, 252, 89);
    font-weight: bold;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .boujee-text1 {
      animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }

  .tag {
  }
  
  .tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
  }
  
  .tag.visible {
    opacity: 1;
    transform: translate(0, 0);
  }

  @media (max-width:834px) {
    img#optionalstuff {
      display: none;
    }
  }

    /*social media button style*/
    .fa {
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
      color: rgb(255, 255, 255);
    }
    