/* Global styles */
*{

    text-align: center;
    padding: 1px;
    font-family: '', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-decoration: none;
    box-sizing: border-box;
  }
  
  /*style headers*/
  h1{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding-top:0px;
    width: auto;
    height:80px;
    margin:0px;
  }
  
  
  /*style border*/
  .border{
    text-align: center;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 10px;
  }
  
  /*ensure fullscreen*/
  body{
    color:rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding:0px;
    margin:0px;
  }
  
  /*navigation bar background*/
  .header-background{
    color:white;
    font-size: 20px;
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
    transition-duration: 0.4s;
  }
  
  /*navigation bar change color on hover*/
  .header-background:hover{
    color:#000000;
    background-color:rgb(0, 0, 0);
  }
  
  /*navigation bar sticky*/
  #navbar {
  overflow: hidden;
  background-color:black;
  
  }
  
  #navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 15px;
  
  }
  #navbar b {
  float: right;
  display: block;
  color: #696969;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  
  }
  
  #navbar a:hover {
  
  --bg-size: 400%;
  --color-one: rgb(110, 157, 251);
  --color-two: rgb(255, 161, 219);
  font-size: 17px;
  font-weight: bold;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  }
  
  @media (prefers-reduced-motion: no-preference) {
  .a {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
  }
  
  #navbar b:hover {
  
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  }
  
  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  }
  
  .sticky + .content {
  padding-top: 60px;
  }
  
  /*footer background*/
  .footer{
  padding-top: 30px;
  height: 50px;
  background-color: #000000;
  
  }
  
    /*image scaling*/
    img {
      max-width: 100%;
      height: auto;
    }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  
  /* Card styles */
  .card {
    border: 3px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    background-color: #222;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.579);
  }
  
  .card-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card-paragraph {
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .card-tags {
    margin-bottom: 10px;
  }
  
  .card-tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #000;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 1rem;
  }
  
  .card-buttons {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
  }
  
  .card-github-button,
  .card-demo-button,
  .card-blog-button {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    color: #fff;
  }
  
  .card-github-button {
    background-color: #6f42c1;
  }
  
  .card-demo-button {
    background-color: #007bff;
  }
  
  .card-blog-button {
    background-color: #ff6cd5;
  }
  
  /* Neon outline effect */
  .card:hover {
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
  
  .card:hover .card-header {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
  
  .card:hover .card-tag {
    background-color: #ffffff;
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
  
  .card-github-button:hover {
    box-shadow: 0 0 5px #d876ff, 0 0 10px #ee8fff, 0 0 20px #fda0ff;
  }
  
  .card-demo-button:hover {
    box-shadow: 0 0 5px #d876ff, 0 0 10px #ee8fff, 0 0 20px #fda0ff;
  }
  
  .card-blog-button:hover {
    box-shadow: 0 0 5px #d876ff, 0 0 10px #ee8fff, 0 0 20px #fda0ff;
  }